Django==5.2.5
djangorestframework==3.15.2
gunicorn
whitenoise
pdfminer.six==20231228
python-docx==1.1.0
scikit-learn==1.5.0
numpy==1.26.4
requests==2.32.3
spacy==3.7.4
# Use the wheel version to avoid compilation
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl